<IfModule mod_rewrite.c>
  RewriteEngine On

  # If the requested file doesn't exist, try adding .html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([^\.]+)$ $1.html [NC,L]
</IfModule>
